@font-face {
  font-family: "Outfit";
  font-style: "light";
  font-weight: 100;
  font-display: swap;
  src: url("~/assets/fonts/Outfit-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-style: "medium";
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/Outfit-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-style: "regular";
  font-weight: 500;
  font-display: swap;
  src: url("~/assets/fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  font-style: "semiBold";
  font-weight: 600;
  font-display: swap;
  src: url("~/assets/fonts/Outfit-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSerif";
  font-style: "light";
  font-weight: 100;
  font-display: swap;
  src: url("~/assets/fonts/NotoSerif-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSerif";
  font-style: "medium";
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/NotoSerif-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSerif";
  font-style: "regular";
  font-weight: 500;
  font-display: swap;
  src: url("~/assets/fonts/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSerif";
  font-style: "semiBold";
  font-weight: 600;
  font-display: swap;
  src: url("~/assets/fonts/NotoSerif-SemiBold.ttf") format("truetype");
}

html {
  font-family: "Outfit";
  font-weight: 400;
  background-color: #0c0c0c;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
